:root {
    /* Colors */
    --color-dark: rgb(52, 46, 46);
    --color-med-dark: rgb(92, 86, 79);
    --color-light-dark: rgb(142, 132, 119);
    --color-light: rgb(193, 181, 164);
    --color-light-light: rgb(207, 205, 192);
    --color-background: rgb(207, 205, 192);
    --color-background-light: rgb(207, 205, 192);
    --color-shadow-l: rgb(0, 0, 0, 0.1);
    --color-shadow-m: rgb(0, 0, 0, 0.5);
    --color-shadow-d: rgb(0, 0, 0, 0.8);
    --color-lighten-l: rgb(255, 255, 255, 0.1);

    /* Font Families */
    --font-serif: mono;
    --font-sans: mono;

    /* Sizes */
    --size-sss: 0.5rem;
    --size-ss: 0.75rem;
    --size-s: 0.85rem;
    --size-m: 1rem;
    --size-l: 1.25rem;
    --size-ll: 1.5rem;
    --size-lll: 2rem;
    --size-h3: 1.25rem;
    --size-h2: 1.5rem;
    --size-h1: 3rem;
    --size-title: 4rem;

    /* Border Radius */
    --border-radius-s: 0rem;
    --border-radius-m: 0rem;
    --border-radius-l: 3rem;

    /* Padding */
    --padding-ss: 0.3rem;
    --padding-s: 0.1rem;
    --padding-m: 0.35rem;
    --padding-l: 1rem;

    /* Transition */
    --transition-s: 0s;
    --transition-m: 0s;
}

* {
    box-shadow: none !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    text-align: left !important;
    justify-content: left !important;
}
